@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/montserrat-400.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/montserrat-700.woff2") format("woff2");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 2em;
    background-color: #000;
    color: #fff;
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 1.5em;
    margin-top: 0;
}

form label {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.25em;
}

form input,
form textarea {
    display: block;
    box-sizing: border-box;
    border: 0.15em solid;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    text-align: left;
    padding: 0.4em;
    transition: transform ease-out 50ms, opacity ease 250ms;
}

form textarea {
    margin-bottom: 1.5em;
}

form input:focus,
form textarea:focus {
    outline: none;
}

form input[type="email"],
form input[type="text"],
textarea {
    background-color: transparent;
    border-color: #fff;
    font-weight: bold;
    color: #fff;
}

form input[type="submit"] {
    display: block;
    background-color: #26a6ff;
    border-color: #26a6ff;
    border-radius: 1.75em;
    color: #000;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    width: auto;
    padding: 0.4em 1.5em;
}

form input[type="submit"]:active {
    transform: scale(0.95);
}

@media only screen and (max-width: 639px) {

    form input {
        width: 100%;
    }

    form textarea {
        width: 100%;
        height: 8em;
    }

}

@media only screen and (min-width: 640px) {

    form input {
        width: 18em;
    }

    form textarea {
        width: 32em;
        height: 8em;
    }

}
